{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% if history_db %}
            {% for row in history_db %}
            <tr>
                <td>{{row["symbol"]}}</td>
                <td>{{row["shares"]}}</td>
                <td>{{row["price"] | usd() }}</td>
                <td>{{row["date"]}}</td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
