body {min-width:253px;}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#header-logo {
    margin:0;
    height:68px; 
    width:68px;
    float: left;
}

header {
    background-color: rgb(30, 30, 30);
    min-width:253px;
    border-bottom: 0.05em solid white;
}

nav {top:0;position: sticky;z-index:10;}

.nav_menu {
    background-color: rgb(30, 30, 30);
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden !important;
}

.nav_menu > li {
    float:left;
    width:12.5%;
}

.nav_menu > li > a {
    display: block;
    color: whitesmoke;
    text-align:center;
    text-decoration: none;
}

.nav_menu > li > a:hover {
    background-color: #A51C30;
}

.icon{display:none;}

#education {
    height:100vh;
    padding-top:5em;
    border-right: solid whitesmoke;
}

#footer-list {
    list-style-type: none;
    margin:0;
    padding:0;
    margin-left:10%;
}
#footer-list > li{
   float:left;
   padding:3%;
}

#Bio {
    background-color: black;
     margin:0;padding:20px;
}

@media screen and (max-width: 950px) {
    .icon {
        position: sticky;
        left:48%;
        top:0;
        display:block;
        background-color: rgb(30, 30, 30);
        width:100%;
    }
    .nav_menu > li{display:none;}
    .nav_menu.responsive > li{
        display: block;
        float: none;
        text-align:center;
        width: 100%;
        border-bottom:0.00001em solid white;
    }
    #desc{visibility: hidden;}
    .overlay { 
        position:absolute;
        top:20%;
        left:2%;
    }
    #education {
        height:100vh;
        padding-top:5em;
        border-right: 0;
    }
    #footer-list {
        margin-left:1px;
    }
    #footer-list > li{
        width:11.5%;
     }
     
}

.col-container {
    display: flex;
    width: 100%;
    background-color: black;
}
.col {
    flex: 1;
    padding: 16px;
}
iframe {
    width:100%;
    height:40vh;
    margin:0;
    padding:0;
}

@media screen and (max-width: 768px) {
    #education {
        height:100vh;
        padding-top:5em;
        border-right: 0;
        border-bottom: solid white;
    }
    .col-container {
        display: block;
    }
    .col {
        width:100%;
        padding: 16px;
    }

    iframe {
        width:100%;
        height:30vh;
        margin:0;
        padding:0;
    }
}

.intro-container {
    position: relative;
}

@keyframes visible {
    from {opacity:0;}
    to {opacity:1;}
}

.overlay {
    position:absolute;
    bottom:18%;
    left:2%;
}

.animate-text{
    animation-name: visible;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
}



footer
{
    background-color: rgb(30, 30, 30);
    padding:20px;
    margin:0;
    width:100%;
    height:auto;
    
}


















